

{% extends 'base.html' %}
{% block title %}About us{% endblock %}

{% block content %}
<div class="bg-dark text-secondary text-center">
    <div class="py-5">
      <h1 class="display-6 fw-bold text-white">Acerca del proyecto..</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">Mi nombre es Agustin Rojas y este es el proyecto final para el curso de pythoin de coderhouse.</p>
        <p class="fs-5 mb-4">El proyecto trata de el sitio web de una panaderia donde se puede ver los productos ordenados por categorias y la descripcion de cada uno individualmente, registro y login de usuarios, la edicion de sus datos de perfil. Tambien cuenta cone l CRUD donde el administrador de la pagina puede trabajar con los productos agregados.</p>
        
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        </div>
      </div>
    </div>
  </div>
  {% endblock %}