

{% block content %}
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="http://127.0.0.1:8000/">La panaderia!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active"
                        aria-current="page" href="http://127.0.0.1:8000/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/about/">About</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown"
                        href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Shop</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item"
                                href="http://127.0.0.1:8000/categoria/1"> Tortas
                            </a></li>
                        <li><a class="dropdown-item"
                                href="http://127.0.0.1:8000/categoria/2">
                                Alfajores </a></li>
                        <li><a class="dropdown-item"
                                href="http://127.0.0.1:8000/categoria/3"> Panes
                            </a></li>
                        <li><a class="dropdown-item"
                                href="http://127.0.0.1:8000/categoria/4">
                                Facturas </a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item"
                                href="http://127.0.0.1:8000/categoria/5">
                                Ofertas!! </a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                {% if request.user.is_superuser %}
                <a href="http://127.0.0.1:8000/panel/" class="btn
                    btn-outline-dark' role="button"> <i class="bi bi-gear me-1"></i>
                    Panel De Control </a>
                
                    {% endif %}
                    
                    {% if request.user.is_authenticated %}
                    
                    <div class="dropdown">
                        <a class="btn btn-outline-dark dropdown-toggle" href="#"
                            role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            {% if request.user.profile.profile_picture.url != '' %}
                            <img src="{{request.user.profile.profile_picture.url}}" alt="profile_picture" width="30px"height="30px">
                            {%else%}
                            <i class="bi bi-person-bounding-box"></i>
                            {% endif %}
                            {{request.user.username}}
                        </a>

                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Administrar Cuenta</li>
                            <li><a class="dropdown-item"
                                    href="http://127.0.0.1:8000/usuarios/update/profile/">Datos
                                    Perfil</a></li>
                            <li><a class="dropdown-item"
                                    href="http://127.0.0.1:8000/usuarios/update/">Datos
                                    Usuarios</a></li>
                        </ul>
                    </div>

                 
                    <a href="http://127.0.0.1:8000/usuarios/logout/" class="btn
                        btn-outline-dark' role="button"> <i class="bi
                            bi-box-arrow-in-left me-1"></i></i>Salir </a>
                {%else%}
                <a href="http://127.0.0.1:8000/usuarios/signup/" class="btn
                    btn-outline-dark' role="button"> <i class="bi
                        bi-box-arrow-in-right me-1"></i> Registro </a>
                <a href="http://127.0.0.1:8000/usuarios/login/" class="btn
                    btn-outline-dark' role="button"><i class="bi
                        bi-person-circle me-1"></i> Ingresar </a>

            </form>
        </div>{% endif %}
    </div>
</nav>
{% endblock %}
